/* header */
.header {
    padding: 30px 0;
}
.header__container {
}
.header__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__icon {
    transition: transform 0.3s ease-in-out;
}

.header__icon:hover {
    cursor: pointer;
    transform: scale(1.3);
}
.header__icon  {
    width: 26px;
    height: 26px;
}
.header__translation {
}

/* смена языка */
.change-lang {
    width: 100%;
    /* padding: 10px; */
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    border: none;
    background-color: transparent;
    outline-color: #0D0336;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
    /* -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; */
}
.change-lang:focus {
    background-color: #0D0336;
}

/* get-started */

.get-started {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 160px;
    text-align: center;
}
.get-started__container {
}
.get-started__body {
}
.get-started__content {
}
.get-started__image img {
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.get-started__image img:hover {
    cursor: pointer;
    transform: scale(1.3);
}
.get-started__profession {
    padding-top: 40px;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.305em;
    text-transform: uppercase;
}
.lng-profession {
    background: linear-gradient(93.07deg, #3B90A3 0%, rgba(51, 126, 214, 0.755208) 62.78%, rgba(28, 35, 191, 0.5) 128.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.get-started__name {
    padding-top: 20px;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}
.get-started__arrow--bottom {
    padding-top: 140px;
    padding-bottom: 120px;
}

.nav {
    padding-top: 40px;
    position: relative;
}

.nav__line {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 20px;
    height: 1px;
    background: linear-gradient(93.07deg, #3B90A3 0%, rgba(51, 126, 214, 0.755208) 62.78%, rgba(28, 35, 191, 0.5) 128.24%);
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__item {
}
.nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.nav__link:hover {
    background: linear-gradient(93.07deg, #2f8cc3 0%, rgb(77 137 247 / 76%) 62.78%, rgb(0 11 253 / 50%) 128.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.burger {
    position: relative;
    width: 30px;
    height: 20px;
    display: none;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}
.burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
}
.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
   background-color: #fff;
   transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}
.burger--active .burger__line {
    opacity: 0;
}
.burger--active::before {
    top: 50%;
    transform: rotate(45deg);
}
.burger--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
}
.stop-scroll {
    overflow: hidden;
}


/* burger */
@media (max-width: 768.98px) {
    .burger {
        display: block;
    }
    .nav__line {
        display: none;
    }

.nav  {
    position: fixed;
    right: 0;
    top: 92px;
    z-index: 50;
    overflow-y: auto;
    padding: 30px 0;
    width: 60%;
    max-width: 300px;
    height: calc(94vh - 63px);
    background-color: #0D0336;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}
.nav--visible {
    transform: none;
    box-shadow: -5px 0 15px 0px rgba(20, 42, 234, 0.25);
}
.nav__list {
    flex-direction: column;
}
.nav__item {
    width: 100%;
}
.nav__item:not(:first-child) {
    margin-top: 30px;
}
.nav__link {
    display: inline-block;
    width: 100%;
    padding: 20px 30px;
    /* border-bottom: 1px solid #fff; */
    font-size: 20px;
}
}
@media (max-width: 768.98px) {
    .get-started__name {
        font-size: 38px;
    }
    .get-started__name {
        padding-top: 10px;
    }
}
@media (max-width: 499.98px) {
    .nav {
        width: 100%;
        max-width: 100%;
    }
    .get-started__profession {
        padding-top: 20px;
        font-size: 20px;
    }
    .get-started__name {
        font-size: 28px;
    }
}

/* about */
.about {
    padding-bottom: 120px;
}
.about__container {
}
.about__title {
}
.about__body {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.about__image {
    flex: 0 1 50%;
}
.about__image img {
    max-width: 100%;
}
.about__content {
    flex: 0 1 50%;
}
.about__text {
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.about__item {
}
.item-about {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.item-about__icon {
}
.item-about__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
@media (max-width: 768.98px) {
    .about__body {
        row-gap: 40px;
        padding-top: 60px;
        flex-direction: column;
    }
    .about__text {
        margin-bottom: 30px;
    }
    .about__button {
        margin-top: 10px;
    }
}

/* modals */
.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.modal {
	background-color: #080336;
    border-radius: 8px;
	width: 400px;
	height: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;

    box-shadow: 0px 0px 20px 10px rgba(20, 42, 234, 0.25);
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal--visible {
	display: block;
    padding: 20px;
    text-align: center;
}

.modal__items {
    
}
.modal__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
}
.modal__item {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    row-gap: 40px;
}
.modal__icon {
    transition: transform 0.3s ease-in-out;
}
.modal__icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.modal__name {
    padding-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}
@media (max-width: 499.98px) {
    .modal {
        width: 300px;
        height: 450px;
    }
    .modal__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* skills */
.skills {
}
.skills__container {
}
.skills__title {

}
.skills__body {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 40px;
}
.skills__image {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.skills__image:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.skills__name {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.1em;
}
.skills__name--html {
    color: #E65027;
}
.skills__name--css {
    color: #1572B6;
}
.skills__name--js {
    color: #E5A228;
}
.skills__name--bs {
    color: #563D7C;
}
@media (max-width: 767.98px) {
    .skills__body {
        padding-top: 60px;
        flex-wrap: wrap;
    }
}
@media (max-width: 499.98px) {
    .skills__body {
        justify-content: center;
        column-gap: 40px;
    } 
}

/* tools */
.tools {
    margin-top: 80px;
}
.tools__container {
}
.tools__title {
}
.tools__body {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 40px;
}
.tools__image {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.tools__image:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.git-hub__image--dark {
    display: none;
}
.tools__name {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.1em;
}
.tools__name--figma {
    color: #FF7262;
}
.tools__name--git-gh {
   
}
.tools__name-git--vscode {
    color: #40ABF2;
}
.tools__name--git {
    color: #F05133;
}

@media (max-width: 767.98px) {
    .tools__body {
        padding-top: 60px;
        flex-wrap: wrap;
    }
}
@media (max-width: 499.98px) {
    .tools__body {
        justify-content: center;
        column-gap: 40px;
    } 
}

/* projects */
.projects {
    padding-top: 120px;
}
.projects__container {
}
.projects__body {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    row-gap: 40px;
    flex-wrap: wrap;
}
.projects__item {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.projects__item:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 10px rgba(20, 42, 234, 0.25);
}
.projects__item:hover .button {
    cursor: pointer;
    box-shadow: 6px 6px 10px 2px rgba(20, 42, 234, 0.25);
  }
.projects__content {
    padding: 30px 40px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(93.07deg, #2f8cc3 0%, rgb(77 137 247 / 76%) 62.78%, rgb(0 11 253 / 50%) 128.24%);
    border-radius: 8px;
}
.projects__image {
}
.projects__name {
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
}
.projects__type {
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}
.projects__skills {
    padding-top: 30px;
}
.skills-projects {
    display: flex;
    align-items: center;
    gap: 10px;
}
.skills-projects__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
.skills-projects__text--html {
    color: #E65027;
}
.skills-projects__text--сss {
    color: #1572B6;
}
.skills-projects__text--js {
    color: #E5A228;
}
.slash {
    color: #fff;
}
.projects__button {
    margin-top: 40px;
}

@media (max-width: 767.98px) {

}
@media (max-width: 500.98px) {
    .projects__image img {
        max-width: 100%;
    }
    .projects__content {
        padding: 20px;
    }
    .projects__type {
        font-size: 18px;
    }
}

/* show-more */
.btn-center {
    margin-top: 40px;
    text-align: center;
}
.projects__item:nth-child(n + 5) {
    display: none;
}
.projects__item.is-visible {
    display: block;
}

/* footer */
.footer {
    padding-top: 60px;
}
.footer__copyright {
    padding: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #BCBCBC;
}

/* scroll-top */
.btn-top {
    display: none;
    cursor: pointer;
    position: fixed; 
    bottom: 70px;
    right: 50px;
    z-index: 29;
    width: 50px;
    height: 50px;
    background: url(../img/arrow-top.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border-radius: 50%;
    transform: rotate(0deg);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    color: #BB8C5F;
    border: none;
  }
  @media (max-width: 499.98px) {
    .btn-top {
        right: 10px;
        bottom: 20px;
    }
  }

  /* Scroll Animation */
  .box {
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  
  .box:nth-of-type(even) {
    transform: translateX(-100%);
  }
  
  .box.show {
    transform: translateX(0);
  }