/* header */
.header {
    padding: 40px 0;
}
.header__container {
}
.header__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__icon {
}
.header__icon img {
    width: 26px;
    height: 26px;
}
.header__translation {
}
.change-lang {
}

/* get-started */

.get-started {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
    text-align: center;
}
.get-started__container {
}
.get-started__body {
}
.get-started__content {
}
.get-started__image {
}
.get-started__profession {
    padding-top: 40px;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.305em;
    text-transform: uppercase;
}
.lng-profession {
    background: linear-gradient(93.07deg, #3B90A3 0%, rgba(51, 126, 214, 0.755208) 62.78%, rgba(28, 35, 191, 0.5) 128.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.get-started__name {
    padding-top: 20px;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}
.nav {
    padding-top: 40px;
}
.nav__line {
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.nav__item {
}
.nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.nav__link:hover {
    background: linear-gradient(93.07deg, #3B90A3 0%, rgba(51, 126, 214, 0.755208) 62.78%, rgba(28, 35, 191, 0.5) 128.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}